 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/CachedImage_1920_1080_POS3.jpg");
  background-position: 100% 59.41%;
  background-size: 140%;
}

.u-section-1 .u-sheet-1 {
  min-height: 497px;
}

.u-section-1 .u-image-1 {
  width: 44px;
  height: 44px;
  margin: 21px -22px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 44px;
  height: 44px;
  margin: 21px -22px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 44px;
  height: 44px;
  margin: 21px -22px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 44px;
  height: 44px;
  margin: 21px -22px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 44px;
  height: 44px;
  margin: 21px -22px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 31px 475px 0 319px;
}

.u-section-1 .u-text-2 {
  margin: -53px auto 60px -24px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -174px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -62px;
    margin-left: 219px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 549px;
    margin-left: 219px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -524px;
    margin-left: 219px;
  }

  .u-section-1 .u-image-5 {
    width: 45px;
    margin-top: -184px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: 284px;
    margin-left: 310px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: -20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -230px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -6px;
    margin-right: 475px;
    margin-left: 109px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 475px;
    margin-left: 109px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 475px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 174px;
    margin-left: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -296px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -9px;
    margin-right: 471px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 393px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 393px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 84px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 290px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -25px;
    margin-right: auto;
    margin-left: -20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 332px;
}

.u-section-2 .u-list-1 {
  width: 909px;
  margin: 32px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 268px;
  grid-gap: 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 10px;
}

.u-section-2 .u-icon-1 {
  width: 63px;
  height: 63px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 23px 10px 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-2 .u-icon-2 {
  width: 63px;
  height: 63px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 10px 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 10px;
}

.u-section-2 .u-icon-3 {
  width: 63px;
  height: 63px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 10px 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 38px;
    padding: 12px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 38px;
    padding: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 38px;
    padding: 12px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 637px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 539px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 38px -20px 50px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 619px;
  height: 388px;
  margin: 20px auto 0 -42px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 6px 26px;
}

.u-section-3 .u-text-1 {
  line-height: 2;
  font-size: 1rem;
  margin: 0 0 0 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 294px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 225px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 213px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 468px;
}

.u-section-4 .u-icon-1 {
  width: 103px;
  height: 103px;
  margin: 32px auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -94px 604px 0 126px;
}

.u-section-4 .u-text-2 {
  margin: 15px 607px 0 129px;
}

.u-section-4 .u-image-1 {
  width: 236px;
  height: 146px;
  margin: 71px auto 0 70px;
}

.u-section-4 .u-image-2 {
  width: 235px;
  height: 145px;
  margin: -146px auto 0;
}

.u-section-4 .u-image-3 {
  width: 235px;
  height: 145px;
  margin: -145px 71px 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 33px 849px 0 112px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: -29px 66px 0 879px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  margin: -29px 453px 56px 502px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: -116px;
    margin-left: 26px;
    margin-right: 504px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -52px;
    margin-right: 507px;
    margin-left: 29px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 92px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 749px;
    margin-left: 12px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 745px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 353px;
    margin-left: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 310px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 316px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 541px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 525px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 243px;
    margin-left: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 130px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 136px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 361px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 345px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 153px;
    margin-left: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 161px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 145px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 53px;
    margin-left: 102px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 368px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 77px auto 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.4;
  margin: 21px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0px;
  border-style: none;
  font-weight: 700;
  margin: 37px auto 60px 0;
  padding: 12px 31px;
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}